body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: auto;
}

.main-container {
    max-width: 97%;
    margin: -10px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height:97%;
}

.two-column-layout {
    display: flex;
    gap: 20px;
}

.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-box {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.box {
    background-color: #f4f6f8;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border: 1px solid black;
}

/* ------------------------------------------- */
/* button & selection stylings below */
/* ------------------------------------------- */

label[for="radioFrame"] {
    font-size: .9rem;
    font-weight: bold;
    display: block;
}
#radioFrame {
    width: 99%;
    padding: 3px;
    margin: 5px 0 .5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: .9rem;
}

label[for=directoryPath],
label[for=outputPath] {
    font-size: .9rem;
    font-weight: bold;
    display: block;
}

input[id="directoryPath"],
input[id="outputPath"] {
    width: 98%;
    padding: 5px;
    margin: 5px 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: .9rem;
}

#walletFrame {
    width: 99.8%;
    height: 28rem;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    font-size: .9rem;
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}

#runButton {
    width: 99.8%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
#runButton:hover {
    transform: scale(1.01);
}
#runButton:active {
    transform: scale(0.99);
}

/* ------------------------------------------- */
/* datatables & process log styling below */
/* ------------------------------------------- */

.dataTables_filter {
    text-align: right;
    margin-top: 0;
    padding: 0 20px 10px;
}
.dataTables_filter label {
    font-weight: bold;
}
.dataTables_filter input {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #e01010;
    font-size: .9rem;
}

#process-log-textarea {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    font-family: monospace;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    flex-grow: 1;
    resize: vertical;
}

th.dt-colresizable-hover {
    cursor: col-resize !important;
}

#outputTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#outputTable th,
#outputTable td {
    border: 1px solid #ccc;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .9rem;
}

#outputTable th {
    background-color: #f9f9f9;
}

/* ------------------------------------------- */
/* loading bar styling */
/* ------------------------------------------- */

#loading-bar {
    display: none;
    width: 99.8%;
    height: 20px;
    border-radius: 5px;
    margin-top: -5px;
    margin-bottom: 10px;

    background: linear-gradient(90deg, #4caf50, #8bc34a, #4caf50);
    background-size: 200% 100%;
    animation: loadingMove 1.5s linear infinite;
}

@keyframes loadingMove {
    0%   { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

/* buttons for the HW identifieer and wallet search */
/* #two-buttons-container {
    display: flex;
    gap: 10px;
    width: 99.8%;
    margin-bottom: 10px;
}

#two-buttons-container button {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: transform 0.1s ease;
} */
